[submodule "lib/WiFiManager"]
	path = lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "lib/WebSockets"]
	path = lib/WebSockets
	url = https://github.com/Links2004/arduinoWebSockets.git
[submodule "lib/M5GFX"]
	path = lib/M5GFX
	url = https://github.com/m5stack/M5GFX.git
[submodule "lib/ESP32XInput"]
	path = lib/ESP32XInput
	url = https://github.com/controllercustom/ESP32XInput
